
@section Css{
    <style type="text/css">
        body {
            background-color: #F0F0F0;
        }
    </style>
}
<!-- Side navigation -->
<div class="sidenav">
    <div class="container-logo">
        <img src="~/imagem/logo.png" style="width: 20%;" />
        <a href="#" id="btnSair"> Sair</a>
    </div>
    <div id="users">
    </div>

</div>
     <div class="Barra_Usuario_Selecionado" ></div>
<!-- Page content -->
<div class="main" id="tlConversa">
    <div class="container-messages">
        

    </div>

    <div class="container-button">
        <input type="text" placeholder="Mensagem" id="mensagem" />
        <button class="btn-send" id="btnEnviar"></button>
    </div>

</div>

